body {
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


header {
    margin-top: -30px;
    font-family: Montserrat;
   }
  
   .ul {
      display: flex; /* afficher les éléments de la liste en ligne */
      gap: 70px; /* ajouter un espacement horizontal de 50 pixels entre chaque élément de la liste */
      font-weight: bold; /* définir le poids de la police comme gras */
      font-size: 25px; /* définir la taille de police à 30 pixels */
      padding: 50px ; /* ajouter un espace de remplissage de 30 pixels en haut et en bas de la liste */
      background-color: #353535;
      list-style-type: none;
      margin-left: -10px;
      margin-right: -10px;
    }
  
    header img {
      width: 110px; /* définir la largeur de l'image à 50 pixels */
      float:left; /* aligner l'image à gauche */
      margin-top: -140px; /* déplacer l'image vers le haut de 70 pixels */
      margin-left: 120px; /* déplacer l'image vers la droite de 60 pixels */  
    }
  
    li{
      position: relative;
      left: 600px;
    }
  
   
  
    .logo1 {
      position: relative;
      right: 110px;
      top: 40px;
      float: right;
      margin-right: 30px;
      width: 20px;
      }
  
      .logo2 {
        position: relative;
        right: 20px;
        top: 40px;
        float: right;
        margin-right: 70px;
        width: 30px;
      }
     
    .logoins {
      position: relative;
      top: 15px;
      right: 20px;
      transition: transform 0.5s;
      cursor: pointer;
    }
  
    .logoins:hover {
      transform: scale(1.1);
    }

    a {
      text-decoration: none; /* supprimer le soulignement des liens */
      color: white; /* définir la couleur du texte sur blanc */
    }

    a:hover {
      color: #C4A7CB;
    }

    .affiche-virtuose {
        position: relative;
        bottom: 100px;
        right: 30px;
        width: 1500px;
        height: 750px;
        z-index: -1;  
        opacity: 50%;
    }

    h2 {
        text-align: center;
        font-family: Montserrat;
        font-weight: lighter;
       position: relative;
       bottom: 100px;
       color: #353535;
    }

    .image-container {
        display: flex;
        justify-content: center;
      }

      h1 {
        font-family: Montserrat;
        font-size: 70px;
    }

    .titre1 {
       position: absolute;
       top: 375px;
       left: 300px;
       color: #C4A7CB; 
    }

    .titre2 {
        position: absolute;
        top: 380px;
        left: 305px;
        color: #353535; 
     }

     .icone {
        position: absolute;
        top: 450px;
        left: 1300px;
        position: fixed;
     }

     .icone2 {
        position: absolute;
        top: 450px;
        left: 100px;
        position: fixed;
     }

     .icone1 {
        position: absolute;
        top: 480px;
        left: 1270px;
        font-family: Montserrat;
        color: #353535; 
        position: fixed;
     }

     .titreM {
        position: absolute;
        top: 480px;
        left: 80px;
        font-family: Montserrat;
        color: #353535; 
        position: fixed;
     }
      

     @media screen and (max-width: 600px) {

      body {
        overflow-x: hidden;
       
      }

      header {
        position: absolute;
        top: -10px;
        font-family: Montserrat;
        width: 100%;
        height: 350px;
    }
    
    
    ul {
    display: flex; /* afficher les éléments de la liste en ligne */
    gap: 10px; /* ajouter un espacement horizontal de 50 pixels entre chaque élément de la liste */
    font-weight: bold; /* définir le poids de la police comme gras */
    /* définir la taille de police à 30 pixels */
    padding: 20px ; /* ajouter un espace de remplissage de 30 pixels en haut et en bas de la liste */
    background-color: #353535;
    list-style-type: none;
    height: 10px;
    
    }
    
    header img {
    width: 50px; /* définir la largeur de l'image à 50 pixels */
    float:left; /* aligner l'image à gauche */
    
    }
    
    li{
    position: relative;
    left: 100px;
    margin-top: 10px;
    margin-left: -50px;
    font-size: 15px;
    }
    
    .logo1 {
      position: relative;
      right: 5px;
      top: 68px;
      float: right;
      margin-right: 30px;
      width: 18px;
      }
    
      .logo2 {
        position: relative;
        right: 5px;
        top: 70px;
        float: right;
        margin-right: 70px;
        width: 20px;
      }
     
      .logoins {
        position: relative;
        top: 60px;
        right: 100px;
      }

      .affiche-virtuose {
        position: relative;
        bottom: 0px;
        left: -10px;
        width: 600px;
        height: 400px;
        z-index: -1;  
        opacity: 50%;
    }

    .image-container {
      height: 800px;
      width: 550px;
      margin-top: -20px;
    }

    .icone2 {
      position: absolute;
      top: 240px;
      left: 30px;
      position: fixed;
      width: 15px;
      height: 15px;
   }

   .titreM {
    position: absolute;
  top: 260px;
  left: 20px;
    font-family: Montserrat;
    color: #353535; 
    position: fixed;
    font-size: 10px;
 }
      
 h1 {
  font-family: Montserrat;
  font-size: 30px;
}

.titre1 {
  position: absolute;
  top: 200px;
  left: 120px;
  color: #C4A7CB; 
}

.titre2 {
position: absolute;
top: 205px;
left: 125px;
   color: #353535; 
}

.icone {
  position: absolute;
  top: 240px;
  left: 530px;
  position: fixed;
  width: 15px;
  height: 15px;
}

.icone1 {
position: absolute;
top: 260px;
left: 520px;
  font-family: Montserrat;
  color: #353535; 
  position: fixed;
  font-size: 10px;
}

h2 {
  text-align: center;
  font-family: Montserrat;
  font-weight: lighter;
 position: relative;
 bottom: 100px;
 color: #353535;
 font-size: 10px;
}

        }
















        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          header {
      
            font-family: Montserrat;
            width: 100%;
           
        }
        
        ul {
        display: flex; /* afficher les éléments de la liste en ligne */
        font-weight: bold; /* définir le poids de la police comme gras */
        padding: 20px ; /* ajouter un espace de remplissage de 30 pixels en haut et en bas de la liste */
        background-color: #353535;
        list-style-type: none;
        height: 50px;
        }
        
        header img {
        width: 50px; /* définir la largeur de l'image à 50 pixels */
        float:left; /* aligner l'image à gauche */
        
        }
        
        li{
        position: relative;
        left: 200px;
        margin-top: 20px;
        font-size: 25px;
        
        }
        
        .logo1 {
          position: relative;
          right: 5px;
          top: 38px;
          float: right;
          margin-right: 30px;
          width: 21px;
          }
        
          .logo2 {
            position: relative;
            right: 5px;
            top: 40px;
            float: right;
            margin-right: 70px;
            width: 25px;
          }
         
        .logoins {
          position: relative;
          top: 35px;
          right: 50px;
        }
    
        .affiche-virtuose {
          position: relative;
          right: 1px;
          top: -60px;
          width: 1220px;
          height: 580px;
          z-index: -1;  
          opacity: 20%;
      }
    
      .image-container {
            display: grid;
           width: 350px;
          align-items: center;
          margin: auto;
          }
      
          img {
            max-width: 100%; /* pour s'assurer que les images ne dépassent pas de leur conteneur */
          }
        
          h1 {
            font-family: Montserrat;
            font-size: 50px;
        }
    
          .titre1 {
            position: absolute;
            top: 320px;
            left: 180px;
            color: #C4A7CB; 
         }
     
         .titre2 {
          position: absolute;
          top: 325px;
            left: 185px;
             color: #353535; 
          }
    
          .icone {
            position: absolute;
            top: 380px;
          left: 840px;
            position: fixed;
            width: 25px;
            height: 25px;
         }
    
         .icone2 {
          position: absolute;
            top: 380px;
          left: 50px;
            position: fixed;
            width: 25px;
            height: 25px;
         }

         .titreM {
          position: absolute;
          top: 400px;
          left: 30px;
          font-family: Montserrat;
          color: #353535; 
          position: fixed;
       }

       .icone1 {
        position: absolute;
        top: 400px;
        left: 800px;
        font-family: Montserrat;
        color: #353535; 
        position: fixed;
     }

     h2 {
      font-size: 15px;
      margin-top: 100px;
     }


          }
        
        
      

      
